.about-grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.about-grid-2-columns p {
    color: rgb(106, 106, 106);

}

.about-title {
    margin-top: 8px;
    margin-bottom: 32px
}

.about-image {
    width: 100%
}

.about-subtitle {
    color: var(--accent-color);
}

@media (max-width: 800px) {
    .about-grid-2-columns {
        grid-template-columns: 1fr;
    }
}

.about-social-container {
    margin-top: 80px;
}

.social-list svg {
    color: var(--accent-color);
}