.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
    color: white;
    position: relative;
}

.navbar-bgc-color {
    background-color: rgb(0, 0, 0);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 15px;
    text-transform: uppercase;
}

.nav-list li {
    transition: 0.38s;
}

.nav-list li:hover {
    color: var(--accent-color);
}

.logo {
    font-size: 32px;
}

.navbar-list-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.desktop-nav {
    display: flex;
    gap: 48px;
    align-items: center;
}

.burger-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    border-radius: 200px;
    transform: 0.4s;
    cursor: pointer;
}

.burger-container:hover {
    background-color: var(--black-secondary);
}

.burger-menu-icon {
    display: flex;
    flex-direction: column;
    gap: 6px;
    order: 2;
    padding: 4px;
}

.burger-menu-line {
    background-color: rgb(215, 215, 215);
    width: 26px;
    height: 2px;
    border-radius: 2px;
}

.mobile-nav {
    display: none;
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    width: 100%;
    background-color: var(--black-secondary);
    color: white;
    z-index: 120;
    padding: 28px;
    border-radius: 12px;
}

.mobile-nav.show {
    display: flex;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.mobile-nav-list li:hover {
    color: var(--accent-color);
}

@media (max-width: 1038px) {
    .navbar-list-container {
        display: none;
    }

    .burger-container {
        display: flex;
    }

    .desktop-nav {
        gap: 22px;
    }
}