
.newsletter-grid-2-columns {
    display: grid;
    grid-template-columns: 40% 60%;
}


.newsletter-container {
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 120px 80px;
    position: relative;
    overflow: hidden;
}

.newsletter-form {
    position: relative;
    width: 100%;
}

.newsletter-form input {
    padding: 22px 180px 22px 22px;
    border-radius: 180px;
    width: 100%;
    border: none;
    font-size: 16px;
}

.newsletter-form button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 22px 42px;
    background-color: var(--accent-color);
    color: white;
    border-radius: 120px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.newsletter-form-container {
    display: flex;
    align-items: center;
}

.newsletter-wave {
    position: absolute;
    bottom: -60px;
    right: -40px;
    transform: rotate(-15deg);

}

.newsletter-wave path {
    stroke: rgba(214, 8, 8, 0.589);
}

@media (max-width: 980px) {
    .newsletter-container {
        padding: 120px 40px;
    }
}

@media (max-width: 928px) {
    .newsletter-grid-2-columns {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 24px;
    }

    .newsletter-form-container {
        width: 80%;
    }

    .newsletter-title-container {
        width: 80%;
        text-align: center;
    }
    
    .newsletter-form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .newsletter-form button {
        position: static;
        width: 100%;
    }
    
    .newsletter-form input {
        padding: 22px;
    }
}

@media (max-width: 578px) {

    .newsletter-form-container {
        width: 100%;
    }

    .newsletter-title-container {
        width: 100%;
        text-align: center;
    }
    
}

@media (max-width: 400px) {

    .newsletter-title-container h2 {
        font-size: 28px;
        line-height: 42px;
    }

    .newsletter-container {
        padding: 120px 30px;
    }

}