.services-section {
    background-color: var(--grey-background);
}

.services-grid-3-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

@media (max-width: 960px) {
    .services-grid-3-columns {
        grid-template-columns: repeat(2, 1fr);      
    }
}

@media (max-width: 540px) {
    .services-grid-3-columns {
        grid-template-columns: repeat(1, 1fr);      
    }
}

/*card*/

.services-card {
    background-color: white;
    padding: 28px;
    border-radius: 12px;
    box-sizing: content-box;
    /*border-bottom: 4px solid var(--accent-color);*/
    transition: 0.4s;
}

.services-card:hover {
    background-color: rgb(55, 55, 55);
    color: white;
}

.services-card-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
