.services-section {
    background-color: var(--grey-background);
}

.services-grid-3-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

@media (max-width: 960px) {
    .services-grid-3-columns {
        grid-template-columns: repeat(2, 1fr);      
    }
}

@media (max-width: 540px) {
    .services-grid-3-columns {
        grid-template-columns: repeat(1, 1fr);      
    }
}

/*card*/

.services-card {
    background-color: white;
    padding: 34px;
    border-radius: 12px;
    box-sizing: content-box;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.services-card svg path {
    stroke: var(--accent-color);
}

.services-card svg {
    width: 40px !important;
    height: 40px !important;
}


.services-card:hover {
    background-color: rgb(55, 55, 55);
    color: white;
}

.services-card-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.services-card-info p {
    color: rgb(106, 106, 106);

}
