@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap");


:root {

    /*Typography */
    --font-family: "Poppins", sans-serif;
    --accent-color: rgb(198, 20, 23);
    --grey-background: #f8f8f8;

}

.hero-title {
    font-size: 75px;
    font-weight: 700px;
    line-height: 82px;
}

.section-title {
    font-size: 38px;
    font-weight: 700px;
    line-height: 55px;
}

.main-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.subtitle {
    font-size: 22px;
    font-weight: 700px;
    line-height: 26px;
}

.navbar-links {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}