---


---


<div class="languages-selector">
    <button class="btn">
        <svg class="icon-globe" width="32" height="32" role="img" aria-hidden="true" focusable="false">
            <use href="/languages-sprite.svg#icon-globe"></use>
        </svg>
        <span>languages</span>
    </button>
    <div class="languages-list-container">
        <ul>
            <li>
                <a href="/">
                    <svg width="20" height="20" role="img" aria-hidden="true" focusable="false">
                        <use href="/languages-sprite.svg#icon-en"></use>
                    </svg>
                   <span>English</span>
                </a>
            </li>
            <li>
                <a href="/el">
                    <svg width="20" height="20" role="img" aria-hidden="true" focusable="false">
                        <use href="/languages-sprite.svg#icon-el"></use>
                    </svg>
                   <span>Greek</span>
                </a>
            </li>
            <li>
                <a href="/de">
                    <svg width="20" height="20" role="img" aria-hidden="true" focusable="false">
                        <use href="/languages-sprite.svg#icon-de"></use>
                    </svg>
                   <span>German</span>
                </a>
            </li>
        </ul>
    </div>
</div>

