---
let data = Astro.props.data
let selectedLanguage = {
    "en": "English",
    "el": "Ελληνικά",
    "de": "Deutsch"
}
---

<div class="languages-selector">
    <button
        id="langSelectButton"
        class="btn js-btn-lang-selector"
        type="button"
        aria-expanded="false"
        aria-controls="langSelectMenu"
        aria-haspopup="true"
        aria-label={ data.ariaLabel }
    >
        <svg
            class="icon-globe"
            width="32"
            height="32"
            role="img"
            aria-hidden="true"
            focusable="false"
        >
            <use href="/languages-sprite.svg#icon-globe"></use>
        </svg>
        <span>{ selectedLanguage[Astro.props.lang] }</span>
    </button>
    <div
        class="languages-list-container js-menu-lang-selector"
        id="langSelectMenu"
        role="menu"
        aria-hidden="true"
        aria-describedby="langSelectButton"
    >
        <ul>
            <li role="none">
                <a href="/" role="menuitem" aria-selected={Astro.props.lang === 'en' ? true: false}>
                    <svg
                        width="20"
                        height="20"
                        role="img"
                        aria-hidden="true"
                        focusable="false"
                    >
                        <use href="/languages-sprite.svg#icon-en"></use>
                    </svg>
                    <span>English</span>
                </a>
            </li>
            <li role="none">
                <a href="/el" role="menuitem" aria-selected={Astro.props.lang === 'el' ? true: false}>
                    <svg
                        width="20"
                        height="20"
                        role="img"
                        aria-hidden="true"
                        focusable="false"
                    >
                        <use href="/languages-sprite.svg#icon-el"></use>
                    </svg>
                    <span>Ελληνικά</span>
                </a>
            </li>
            <li role="none">
                <a href="/de" role="menuitem" aria-selected={Astro.props.lang === 'de' ? true: false}>
                    <svg
                        width="20"
                        height="20"
                        role="img"
                        aria-hidden="true"
                        focusable="false"
                    >
                        <use href="/languages-sprite.svg#icon-de"></use>
                    </svg>
                    <span>Deutsch</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    // @ts-nocheck        
    import dropdown from '@/js/dropdown.js';

    (function () {
        let menuButton = document.querySelector(".js-btn-lang-selector");
        let menu = document.querySelector(".js-menu-lang-selector");
        //

        dropdown(menuButton, menu)
    })();
</script>
