---

let { title, description, icon } = Astro.props;

---

<div class="services-card">
    <slot />
    <div class="services-card-info">
        <h3 class="subtitle">{ title }</h3>
        <p class="main-paragraph">{ description }</p>
    </div>
</div>