<ul class="social-list">
    <li>
        <a href="#" aria-label="facebook">
            <svg
                width="32"
                height="32"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-hidden="true"
                focusable="false"
            >
                <use href="/social-icons-sprite.svg#icon-facebook" />
            </svg>
        </a>    
    </li>
    <li>
        <a href="" aria-label="X">
            <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-hidden="true"
                focusable="false"
            >
                <use href="/social-icons-sprite.svg#icon-x" />
            </svg>
        </a>
    </li>
    <li>
        <a href="" aria-label="linkedin">
            <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-hidden="true"
                focusable="false"
            >
                <use href="/social-icons-sprite.svg#icon-linkedin" />
            </svg>
        </a>
    </li>
</ul>
