<ul class="social-list">
    <li>
        <a href="#" aria-label="facebook">
            <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-hidden="true"
                focusable="false"
            >
                <path
                    d="M16 3.25C13.4783 3.25 11.0132 3.99777 8.91648 5.39876C6.81976 6.79975 5.18556 8.79103 4.22054 11.1208C3.25552 13.4505 3.00303 16.0141 3.49499 18.4874C3.98696 20.9607 5.20127 23.2325 6.98439 25.0156C8.76751 26.7987 11.0393 28.0131 13.5126 28.505C15.9859 28.997 18.5495 28.7445 20.8792 27.7795C23.209 26.8144 25.2003 25.1802 26.6012 23.0835C28.0022 20.9868 28.75 18.5217 28.75 16C28.746 12.6197 27.4015 9.379 25.0112 6.98877C22.621 4.59854 19.3803 3.25397 16 3.25ZM16.75 27.225V18.75H20C20.1989 18.75 20.3897 18.671 20.5303 18.5303C20.671 18.3897 20.75 18.1989 20.75 18C20.75 17.8011 20.671 17.6103 20.5303 17.4697C20.3897 17.329 20.1989 17.25 20 17.25H16.75V14C16.75 13.4033 16.9871 12.831 17.409 12.409C17.831 11.9871 18.4033 11.75 19 11.75H21C21.1989 11.75 21.3897 11.671 21.5303 11.5303C21.671 11.3897 21.75 11.1989 21.75 11C21.75 10.8011 21.671 10.6103 21.5303 10.4697C21.3897 10.329 21.1989 10.25 21 10.25H19C18.0054 10.25 17.0516 10.6451 16.3484 11.3483C15.6451 12.0516 15.25 13.0054 15.25 14V17.25H12C11.8011 17.25 11.6103 17.329 11.4697 17.4697C11.329 17.6103 11.25 17.8011 11.25 18C11.25 18.1989 11.329 18.3897 11.4697 18.5303C11.6103 18.671 11.8011 18.75 12 18.75H15.25V27.225C12.3378 27.0304 9.61517 25.7116 7.65713 23.5471C5.6991 21.3827 4.65892 18.5419 4.75626 15.6248C4.85361 12.7077 6.08086 9.94265 8.17884 7.91351C10.2768 5.88437 13.0813 4.75003 16 4.75003C18.9187 4.75003 21.7232 5.88437 23.8212 7.91351C25.9192 9.94265 27.1464 12.7077 27.2437 15.6248C27.3411 18.5419 26.3009 21.3827 24.3429 23.5471C22.3848 25.7116 19.6622 27.0304 16.75 27.225Z"
                    fill="#343330"></path>
            </svg>
        </a>    
    </li>
    <li>
        <a href="" aria-label="X">
            <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-hidden="true"
                focusable="false"
            >
                <path
                    d="M26.6325 26.5974L18.705 14.1399L26.555 5.4999C26.6313 5.42906 26.6921 5.3431 26.7333 5.2475C26.7746 5.1519 26.7955 5.04875 26.7948 4.94462C26.794 4.8405 26.7715 4.73767 26.7288 4.64269C26.6861 4.54772 26.6241 4.46267 26.5468 4.39297C26.4694 4.32328 26.3784 4.27045 26.2795 4.23787C26.1806 4.20528 26.076 4.19364 25.9723 4.2037C25.8687 4.21376 25.7683 4.24529 25.6775 4.29629C25.5867 4.34728 25.5075 4.41662 25.445 4.4999L17.875 12.8274L12.6375 4.5974C12.5693 4.49024 12.4751 4.40214 12.3636 4.34136C12.2521 4.28058 12.127 4.24911 12 4.2499H6C5.86565 4.24996 5.73378 4.28611 5.61818 4.35457C5.50258 4.42303 5.40749 4.52128 5.34285 4.63906C5.27821 4.75684 5.2464 4.88982 5.25073 5.0241C5.25507 5.15838 5.2954 5.28903 5.3675 5.4024L13.295 17.8599L5.445 26.4999C5.33252 26.6497 5.28019 26.8362 5.29828 27.0226C5.31637 27.2091 5.40359 27.382 5.54277 27.5074C5.68195 27.6328 5.86302 27.7016 6.05035 27.7002C6.23767 27.6988 6.4177 27.6273 6.555 27.4999L14.125 19.1724L19.3625 27.4024C19.4306 27.5096 19.5249 27.5977 19.6364 27.6584C19.7479 27.7192 19.873 27.7507 20 27.7499H26C26.1343 27.7498 26.2662 27.7137 26.3818 27.6452C26.4974 27.5768 26.5925 27.4785 26.6571 27.3607C26.7218 27.243 26.7536 27.11 26.7493 26.9757C26.7449 26.8414 26.7046 26.7108 26.6325 26.5974ZM20.4112 26.2499L7.36625 5.7499H11.5887L24.6337 26.2499H20.4112Z"
                    fill="#343330"></path>
            </svg>
        </a>
    </li>
    <li>
        <a href="" aria-label="linkedin">
            <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-hidden="true"
                focusable="false"
            >
                <path
                    d="M27 3.25H5C4.53587 3.25 4.09075 3.43437 3.76256 3.76256C3.43437 4.09075 3.25 4.53587 3.25 5V27C3.25 27.4641 3.43437 27.9092 3.76256 28.2374C4.09075 28.5656 4.53587 28.75 5 28.75H27C27.4641 28.75 27.9092 28.5656 28.2374 28.2374C28.5656 27.9092 28.75 27.4641 28.75 27V5C28.75 4.53587 28.5656 4.09075 28.2374 3.76256C27.9092 3.43437 27.4641 3.25 27 3.25ZM27.25 27C27.25 27.0663 27.2237 27.1299 27.1768 27.1768C27.1299 27.2237 27.0663 27.25 27 27.25H5C4.9337 27.25 4.87011 27.2237 4.82322 27.1768C4.77634 27.1299 4.75 27.0663 4.75 27V5C4.75 4.9337 4.77634 4.87011 4.82322 4.82322C4.87011 4.77634 4.9337 4.75 5 4.75H27C27.0663 4.75 27.1299 4.77634 27.1768 4.82322C27.2237 4.87011 27.25 4.9337 27.25 5V27ZM11.75 14V22C11.75 22.1989 11.671 22.3897 11.5303 22.5303C11.3897 22.671 11.1989 22.75 11 22.75C10.8011 22.75 10.6103 22.671 10.4697 22.5303C10.329 22.3897 10.25 22.1989 10.25 22V14C10.25 13.8011 10.329 13.6103 10.4697 13.4697C10.6103 13.329 10.8011 13.25 11 13.25C11.1989 13.25 11.3897 13.329 11.5303 13.4697C11.671 13.6103 11.75 13.8011 11.75 14ZM22.75 17.5V22C22.75 22.1989 22.671 22.3897 22.5303 22.5303C22.3897 22.671 22.1989 22.75 22 22.75C21.8011 22.75 21.6103 22.671 21.4697 22.5303C21.329 22.3897 21.25 22.1989 21.25 22V17.5C21.25 16.7707 20.9603 16.0712 20.4445 15.5555C19.9288 15.0397 19.2293 14.75 18.5 14.75C17.7707 14.75 17.0712 15.0397 16.5555 15.5555C16.0397 16.0712 15.75 16.7707 15.75 17.5V22C15.75 22.1989 15.671 22.3897 15.5303 22.5303C15.3897 22.671 15.1989 22.75 15 22.75C14.8011 22.75 14.6103 22.671 14.4697 22.5303C14.329 22.3897 14.25 22.1989 14.25 22V14C14.25 13.8011 14.329 13.6103 14.4697 13.4697C14.6103 13.329 14.8011 13.25 15 13.25C15.1989 13.25 15.3897 13.329 15.5303 13.4697C15.671 13.6103 15.75 13.8011 15.75 14V14.2638C16.3681 13.7392 17.1233 13.4024 17.9266 13.293C18.7299 13.1836 19.5476 13.3062 20.2835 13.6464C21.0193 13.9866 21.6425 14.5302 22.0796 15.213C22.5166 15.8958 22.7492 16.6893 22.75 17.5ZM12.25 10.5C12.25 10.7472 12.1767 10.9889 12.0393 11.1945C11.902 11.4 11.7068 11.5602 11.4784 11.6548C11.2499 11.7495 10.9986 11.7742 10.7561 11.726C10.5137 11.6778 10.2909 11.5587 10.1161 11.3839C9.9413 11.2091 9.82225 10.9863 9.77402 10.7439C9.72579 10.5014 9.75054 10.2501 9.84515 10.0216C9.93976 9.79324 10.1 9.59801 10.3055 9.46066C10.5111 9.32331 10.7528 9.25 11 9.25C11.3315 9.25 11.6495 9.3817 11.8839 9.61612C12.1183 9.85054 12.25 10.1685 12.25 10.5Z"
                    fill="#343330"></path>
            </svg>
        </a>
    </li>
</ul>
