---
let { name, jobTitle, description } = Astro.props;

---

<div class="testimonials-card">
    <div class="testimonials-card-info">
        <h3 class="subtitle">{ name }</h3>
        <h4 class="testimonials-subtitle">{ jobTitle }</h4>
        <p class="main-paragraph u-text-italic">"{ description }"</p>
    </div>
</div>