---
import aboutImage from '../assets/about.jpg';

---






<section id="about-section" class="section side-padding section-vertical-spacing">
    <div class="container about-grid-2-columns">
        <div>
            <img class="about-image" src={aboutImage.src} alt="">
        </div>
        <div>
            <h2 class="subtitle about-subtitle">About</h2>
            <h1 class="section-title about-title">Empowering Your Success with Expert Guidance</h1>
            <p class="main-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio consectetur tempora hic eos, quibusdam dignissimos suscipit eaque excepturi vitae, repudiandae sunt odit temporibus ex placeat officia commodi! Earum, nemo dolores.</p>
        </div>
    </div>
</section>