---
import aboutImage from '../assets/about.jpg';
import Social from '../components/social-media-icons.astro'

let data = Astro.props.content.about

---



<section id="about-section" class="section side-padding section-vertical-spacing">
    <div class="container about-grid-2-columns">
        <div>
            <img class="about-image" src={aboutImage.src} alt="">
        </div>
        <div>
            <h2 class="subtitle about-subtitle">{ data.pretitle }</h2>
            <h1 class="section-title about-title">{ data.title }</h1>
            <p class="main-paragraph">{ data.paragraph }</p>

            <div class="about-social-container">
                <Social />
            </div>
        </div>
    </div>
</section>