<section id="achievements-section" class="achievements-section section side-padding section-vertical-spacing">
    <div class="container achievements-container">
        <div class="achievements-box">
            <h3 class="section-title">200+</h3>
            <p>Happy Clients Served</p>
        </div>
        <div class="achievements-box-line"></div>
        <div class="achievements-box">
            <h3 class="section-title">150+</h3>
            <p>Successful Projects Completed</p>
        </div>
        <div class="achievements-box-line"></div>
        <div class="achievements-box">
            <h3 class="section-title">10+ Years</h3>
            <p>Industry Experience</p>
        </div>
        <div class="achievements-box-line"></div>
        <div class="achievements-box">
            <h3 class="section-title">98%</h3>
            <p>Client Satisfaction Rate</p>
        </div>
    </div>
</section>