<footer class="section side-padding section-vertical-spacing">
    <div class="container footer-container">
        <div class="logo-footer">
            <a href="/">LOGO</a>
        </div>
        <ul class="nav-list">
            <li>
                <a href="" class="navbar-links">HOME</a>
            </li>
            <li>
                <a href="" class="navbar-links">ABOUT</a>
            </li>
            <li>
                <a href="" class="navbar-links">SERVICES</a>
            </li>
            <li>
                <a href="" class="navbar-links">CONTACT</a>
            </li>
        </ul>
        <hr>
        <p>all rights reserved &copy; 2025</p>
    </div>
</footer>