---
let data = Astro.props.data
let year = new Date().getFullYear();


---


<footer class="section side-padding">
    <div class="container footer-container">
        <div class="logo-footer">
            <a href="/">LOGO</a>
        </div>
        <ul class="nav-list">
            <li>
                <a href="" class="navbar-links">{data.nav.home}</a>
            </li>
            <li>
                <a href="" class="navbar-links">{data.nav.about}</a>
            </li>
            <li>
                <a href="" class="navbar-links">{data.nav.services}</a>
            </li>
            <li>
                <a href="" class="navbar-links">{data.nav.contact}</a>
            </li>
        </ul>
        <hr>
        <p>{ data.footer.rights } &copy; { year }</p>
    </div>
</footer>