---
import heroImage from '../assets/hero.jpg';

---

<section id="hero-section" class="hero section side-padding cover-image-container">
    <div class="container hero-container">
        <h1 class="hero-title">Hi, I am Markus a <br> consultant</h1>
        <a class="hero-cta" href="">Contact Me</a>
    </div>
    
    <img class="cover-image hero-img" src={heroImage.src} alt="">
    
</section>
