

<nav class="section side-padding navbar-bgc-color">
    <div class="container navbar-container">
        <div class="logo">
            <a href="/">LOGO</a>
        </div>
        <ul class="nav-list">
            <li>
                <a href="" class="navbar-links">HOME</a>
            </li>
            <li>
                <a href="" class="navbar-links">ABOUT</a>
            </li>
            <li>
                <a href="" class="navbar-links">SERVICES</a>
            </li>
            <li>
                <a href="" class="navbar-links">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>