---
let data = Astro.props.content.newsletter

---


<section id="newsletter-section" class="newsletter-section section side-padding section-vertical-spacing">
    <div class="container newsletter-container">
        <div class="newsletter-grid-2-columns">
            <div>
                <h2 class="section-title">
                    { data.title }
                </h2>
                <p class="main-paragraph">
                    { data.paragraph }
                </p>
            </div>
            <div class="newsletter-form-container">
                <form action="#" method="post" class="newsletter-form">
                    <input type="email" id="email" name="email" placeholder={ data.placeholder } required>
                    <button type="submit">{ data.button }</button>
                </form>
            </div>
        </div>
        <svg class="newsletter-wave" width="566" height="198" viewBox="0 0 566 198" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-3 128.5C-3 128.5 97.5 35 176 87.5C254.5 140 352.5 11.6006 425.5 53.5C498.5 95.3994 569.5 0 569.5 0" stroke="black"/>
            <path d="M-3 138.5C-3 138.5 97.5 45 176 97.5C254.5 150 352.5 21.6006 425.5 63.5C498.5 105.399 569.5 10 569.5 10" stroke="black"/>
            <path d="M-3 148.5C-3 148.5 97.5 55 176 107.5C254.5 160 352.5 31.6006 425.5 73.5C498.5 115.399 569.5 20 569.5 20" stroke="black"/>
            <path d="M-3 158.5C-3 158.5 97.5 65 176 117.5C254.5 170 352.5 41.6006 425.5 83.5C498.5 125.399 569.5 30 569.5 30" stroke="black"/>
            <path d="M-3 168.5C-3 168.5 97.5 75 176 127.5C254.5 180 352.5 51.6006 425.5 93.5C498.5 135.399 569.5 40 569.5 40" stroke="black"/>
            <path d="M-3 178.5C-3 178.5 97.5 85 176 137.5C254.5 190 352.5 61.6006 425.5 103.5C498.5 145.399 569.5 50 569.5 50" stroke="black"/>
            <path d="M-3 188.5C-3 188.5 97.5 95 176 147.5C254.5 200 352.5 71.6006 425.5 113.5C498.5 155.399 569.5 60 569.5 60" stroke="black"/>
            <path d="M-3 198.5C-3 198.5 97.5 105 176 157.5C254.5 210 352.5 81.6006 425.5 123.5C498.5 165.399 569.5 70 569.5 70" stroke="black"/>
        </svg>
    </div>
</section>