---
import skillsImage from '../assets/skills.jpg'

---


<section id="skills-section" class="section side-padding section-vertical-spacing">
    <div class="container skills-grid-2-columns">
        <div class="skills-info">
            <h2 class="section-title">
                My Core Expertise
            </h2>
            <p class="main-paragraph">
                With a passion for problem-solving and strategic thinking, I bring a unique blend of experience and expertise to help businesses grow. Here are some of my key skills:
            </p>
            <ul class="skills-list">
                <li><span>&#10004;</span> Strategic Planning</li>
                <li><span>&#10004;</span> Business Consulting</li>
                <li><span>&#10004;</span> Market Analysis</li>
                <li><span>&#10004;</span> Leadership Coaching</li>
            </ul>
            <a class="hero-cta" href="">Get in Touch</a>
        </div>
        <div>
            <img class="skills-image" src={skillsImage.src} alt="">
        </div>
    </div>
</section>