---
import skillsImage from '../assets/skills.jpg'

let data = Astro.props.content.skills

---


<section id="skills-section" class="section side-padding section-vertical-spacing">
    <div class="container skills-grid-2-columns">
        <div class="skills-info">
            <h2 class="section-title">
                { data.title }
            </h2>
            <p class="main-paragraph">
                { data.paragraph }
            </p>
            <ul class="skills-list">
                {
                    data.list.map((each) => {
                        return <li><span>&#10004;</span> {each}</li>
                    })
                }
            </ul>
            <a class="hero-cta" href="">{ data.button }</a>
        </div>
        <div>
            <img class="skills-image" src={skillsImage.src} alt="">
        </div>
    </div>
</section>