---
import '../styles/system-design.css';
import '../styles/index.css';
import '../styles/navbar.css';
import '../styles/hero.css';
import '../styles/about.css';
import '../styles/services.css';
import '../styles/skills.css';
import '../styles/achievements.css';
import '../styles/newsletter.css';
import '../styles/testimonials.css';
import '../styles/contact.css';
import '../styles/footer.css'

import Navbar from '../sections/navbar.astro';
import Footer from '../sections/footer.astro';


---

<!doctype html>
<html lang={Astro.props.meta.lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={Astro.props.meta.description}>
		<title>Astro</title>
	</head>
	<body>
		<Navbar data={Astro.props.ui} />
			<slot />
		<Footer />
	</body>
</html>
